body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #212121;
}

.token.operator {
  background: none !important;
}